* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

#map {
	height: 100%;
}

#start {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 40px;
	z-index: 1000;
}

.leaflet-popup-content-wrapper {
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	width: 250px;
	margin: 15px 24px;

	* {
		margin: 0;
	}

	.bus-station__name {
		text-align: center;
		font-size: 20px;
		font-weight: 700;
		margin: 10px 0;
	}

	.bus-button,
	.bus-direction {
		display: flex;
		align-items: center;
		gap: 5px;

		> div {
			margin: auto;
		}
	}

	.bus-button {
		background-color: transparent;
		padding: 5px;
		border: 0;
		border-right: 1px solid grey;
	}

	.bus-direction {
		border: 1px solid grey;
		margin: 5px 0;
		border-radius: 5px;
		cursor: pointer;
	}

	.bus-direction:hover {
		background-color: rgb(242, 242, 242);
	}
}

.leaflet-popup-tip-container {
}
