body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
#map {
	height: 100%;
}

#start {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 40px;
	z-index: 1000;
}

.leaflet-popup-content-wrapper {
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
}
