body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
#map {
	height: 100%;
}

.leaflet-popup-content-wrapper {
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
}
